<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--nie trzeba definiowac przestrzeni nazw-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>
    <!--    <button class="">click</button>-->
    <!--    <p th:text="${name}"></p>-->
    <!--    <p th:text="${laki.getName()}"></p>-->
    <!--    <p th:text="${laki.getNumOfLegs()}"></p>-->
    <!--    <p th:text="${laki.getClicker().getCount()}"></p>-->

    <tr th:each="animal : ${animalsList}">
        <td th:text="${animal.getRace()}"/>
        <br>
        <td th:text="${animal.getName()}"/>
        <br>
        <p>++++++++++++++++++++++++++++++++++++</p>
    </tr>
</h2>
<form th:action="@{/add-animal}" th:object="${newAnimal}" method="post">
    <p>Name: <input type="text" th:field="*{name}"></p>
    <p>Race: <input type="text" th:field="*{race}"></p>
    <p>Number of legs: <input type="text" th:field="*{numOfLegs}"></p>
    <p><input type="submit" value="Add new animal"></p>
</form>
<h1>
    <p>Dzisiaj jest dwudziesty piaty listopada dwa tysiace dwadziescia trzy</p>
</h1>
</body>
</html>